<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.emily.emilyservice.mappers.StaffMapper">


    <select id="getUserList" resultType = "com.emily.emilyservice.model.Staff">
        select * from emily.staff
    </select>

    <select id="listStaffByIdFromXml"
            resultType = "com.emily.emilyservice.model.Staff">
        select * from emily.staff where userId = #{userId}
    </select>


</mapper>